@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


#MainMenu {visibility : hidden;}
footer {visibility : hidden;}
.block-container {
    
    font-family: 'Lalezar', cursive;

}
.css-1b9x38r.e1akgbir2 button{
    background:linear-gradient(to left,rgb(70, 0, 128),rgb(4, 48, 99));
    border-style: groove;
}
.css-1b9x38r.e1akgbir2 button:hover{
    background:linear-gradient(to left,rgb(126, 66, 175),rgb(12, 102, 206));
}
.css-aw8l5d.e1akgbir1 button{
    background:linear-gradient(to left,rgb(70, 0, 128),rgb(4, 48, 99));
    border-style: groove;
}
.css-aw8l5d.e1akgbir1 button:hover{
    background:linear-gradient(to left,rgb(126, 66, 175),rgb(12, 102, 206));

}
@keyframes t {

    10%{text-shadow: #43f04b 2px 4px 7px;}
    20%{text-shadow: #5376eb 4px 2px 4px;}
    40%{text-shadow: #dceb53 2px 2px 9px;}
    
}


.css-lrlib.e1akgbir9{
background-image: url("https://img.freepik.com/free-vector/neon-grid-background_53876-91657.jpg");

}
.css-6qob1r.e1akgbir3{
    background-image: url("https://img.freepik.com/free-vector/neon-grid-background_53876-91657.jpg");
}
.css-1uy0bt2.e1akgbir6{
    background:linear-gradient(to left,rgb(46, 143, 156),blue)
}




.css-183lzff.e170wjxx0{
    text-align: center;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    align-items: center;
    padding: 11px;
    border-radius: 11px;
    text-shadow: #95ac3a 2px 2px 7px;
    animation-name: t;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.css-1cypcdb.e1akgbir11{
direction: ltr;
text-align: center;
}
/* .css-keje6w.esravye1{
padding-left: 100px;
} */




.css-1avcm0n.e13qjvis2{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm378-09-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dc095aeb8ad2929b3b13b7ba25fa42ff");
    background-size: cover;

}
.block-container.css-z5fcl4.e1g8pov64{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm378-09-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dc095aeb8ad2929b3b13b7ba25fa42ff");
    background-size: cover;
}

.main.css-uf99v8.e1g8pov65{

    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm378-09-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dc095aeb8ad2929b3b13b7ba25fa42ff");
    background-size: cover;

}







.css-10trblm.e16nr0p30{
    font-family: 'Lalezar', cursive;
}
form{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm378-09-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dc095aeb8ad2929b3b13b7ba25fa42ff");
    background-size: cover;
    padding: 11px;
    border-radius: 11px;
    text-align: center;
    border-style: groove;
    margin-bottom: 22px;
}
.css-1v0mbdj.ebxwdo61 img{
    text-align: center;
/* background:linear-gradient(to left,rgb(245, 128, 128),rgb(101, 101, 245)); */
padding: 2px;
border-radius: 5px;
}

.css-zt5igj.eqr7zpz3 span{
    font-size: 11px;
}
.b{
    border-radius: 5px;
    border-style: dashed;
    border-color: #121f15;
}
.b:hover{
    background-color: #95ac3a;
    
}
input{
    margin-bottom: 3px;
}
img{
    border-radius: 11px;
}
@keyframes span {
    10%{color: red;}
    20%{color: rgba(108, 189, 41, 0.459);}
    30%{color: rgb(66, 101, 214);}
    40%{color: rgb(240, 196, 54);}
}
.css-10trblm.e16nr0p30{
    animation-name: span;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* section[data-testid='stSidebar'] {
    background-color: #111;
    min-width:unset !important;
    width: unset !important;
    flex-shrink: unset !important;
    
} */
a{
    font-family: 'Lalezar', cursive;

}


.e1ugi8lo1.css-fblp2m.ex0cdmw0{
    
    border-style: groove;
    background-color: #121f15;
    box-shadow: #ffffff 1px 1px 11px;
}
/* .block-container.css-z5fcl4.e1g8pov64{
padding-left: 100px;
} */
/* section[data-testid='stSidebar'] > div {
    height: 100%;
    width: 65px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    white-space: nowrap;
    color: #ffffff;
}

section[data-testid='stSidebar'] > div:hover{
    width: 220px;
    } */


span{
    text-align: center;
    font-family: 'Lalezar', cursive;
}
a{
    text-decoration: none;
    background-color: #2e331a;
    /* box-shadow: black 2px 2px 9px; */
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 11px;
    /* border-style: groove; */
    text-align: center;
    font-family: 'Lalezar', cursive;
}
a:hover{
    background-color: rgb(12, 189, 12);
    text-decoration: none;
    color: #ffffff;
}
.css-nahz7x.e16nr0p34 p{
color: rgb(68, 228, 76);
}
p{
    font-family: 'Lalezar', cursive;
    text-align: center;
}
